<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../STYLES/about.css">
        <link rel="stylesheet" href="about.html">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
    </head>

<h1><b>WHY LAMBORGHINI</b></h1>
<div class="h3">
<h3><i>"Enzo Ferarri said if you want a car, go for ferrari<br>But i Feruccio say if you want a friend then you have lamborghini"</i></h3>
    <h3><i>The lamborghini company is not just a brand but a family and with family everybody is captured<br> At lamborghini, family is stronger than competition</i></h3>
    <h6><b>-Feruccio Lamborghini</b></h6>
</div>

<div class="footer1">
    <p>copyright @Severus 2024</p>
</div>

 