<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../STYLES/blog.css">
        <link rel="stylesheet" href="blog.html">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
    </head>
    <div class="header">
        ABOUT FERUCCIO LAMBORGHINI
    </div>
 <div class="parent">
    <div class='child'><h3>A brief capture</h3>
        <img src="../ASSETS/image/lambo ultimate.jpg" height="300px" width="300px">
        <p><b><i>the lamborghini aventador is on of the most uniqe classes<br> of the lamborghini family.<br>
                Although lamborghini started out with making of tractors<br> but over time diversification became imminent<br>
            and now they are one of the greatest manufacturers of fast automobile.</i></b></p>
            <div class="author">
                <b>AUTHOR:</b>
                <img src="../ASSETS/image/lambo ultimate.jpg" height="20px" width="20px">
                Mr. Feruccio
            </div>
        </div>
  <div class='child'><h3>A brief capture</h3>
    <img src="../ASSETS/image/image 2.jpg" height="300px" width="300px">
    <p><b><i>the lamborghini aventador is on of the most uniqe classes<br> of the lamborghini family.<br>
            Although lamborghini started out with making of tractors<br> but over time diversification became imminent<br>
        and now they are one of the greatest manufacturers of fast automobile.</i></b></p>
        <div class="author">
           <b>AUTHOR:</b>
            <img src="../ASSETS/image/image 2.jpg" height="20px" width="20px">
            Dr. Lamborghini
        </div>
    </div>
</div>
<div class="footer">
    <p>copyright @The tales of Feruccio Lamborghini 2024</p>
</div>
