
    .author img{
        border-radius: 50px;
    }
    .h3{
        background-color: black;
        color: antiquewhite;
    }
    .parent {
      border: 5px solid black;
      margin: 1rem;
      padding: 2rem 2rem;
      text-align: center;
    }
    .child{
        display: inline-block;
      padding: 1rem 1rem;
      vertical-align: middle;
    }
    .footer{
        background-color: #1f2937;
        color: white;
        text-align: center;
        padding: 5px;
    }
    .header{
        background-color: #1f2937;
        color:white;
        padding: 35px;
        border:5px rgb(68, 66, 66);
        border-radius: 2px;
        text-align: center;
        position: sticky; top: 0;
    } 

    @media screen and (max-width:650px) {
        
        .header{
            background-color: #236966;
            
        } 
        
        .parent {
            border: none;
            margin: 1rem;
            padding: 2rem 2rem;
            text-align: center;
          }
    }